/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Root Variables*/
:root {
    --radius: 10px;
    --font-base: Arial, sans-serif;
    --text-dark: rgb(64, 64, 64);
    --text-green: #3D8B33;
    --card-description: rgb(243, 248, 254);
    --drop-shadow: 0px 6px 4px rgba(40, 43, 50, 0.123);
}

/*Typography*/
body {
    font-family: var(--font-base);
    color: var(--text-dark);
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
}

h2 {
    font-size: 20px;
    font-weight: 600;
}

/*Individual Elements*/

.intro {
    margin: 20px auto 40px;
    width: 60%;
}

.intro h1 {
    margin-bottom: 20px;
}

.container {
    display: flex;
    gap: 20px;
    padding: 0px 50px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(33.33% - 13.33px);
}

.card img {
    border-radius: var(--radius);
}

.card_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    width: 90%;
    background-color: var(--card-description);
    border-radius: var(--radius);
    padding: 25px 15px;
    filter: drop-shadow(var(--drop-shadow));
    min-height: 175px;
    position: relative;
    bottom: 15%;
}

.read-more {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--text-green);
    font-weight: 600;
}

@media screen and (max-width:1150px) {
    h2 {
        font-size: 18px;
    }
}

@media screen and (max-width:1050px) {

    .card {
        width: calc(50% - 10px);
    }
}

@media screen and (max-width:740px) {

    .intro {
        width: 85%;
    }

    .container {
        padding: 0px 20px;
    }

    .card {
        width: 100%;
    }
}