           @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

           /*Reset/Normalize*/

           * {
               margin: 0;
               padding: 0;
               box-sizing: border-box;
               border: none;
           }

           #container {
               max-width: 1520px;
               margin: auto;
           }

           body {
               margin: 10px 100px 20px;
           }

           /*Root Variables*/

           :root {
               --color_grey: #F3F3F3;
               --color_green: #B9FF66;
               --color_black: #191A23;
               --text_light: white;
               --radius_card: 45px;
               --radius_btn: 14px;
               --font-base: "Space Grotesk", sans-serif;
           }

           /*Typography*/

           body {
               font-family: var(--font-base);
               font-size: 16px;
               font-weight: 400;
               line-height: 1.4;
           }

           h1,
           h2,
           h3,
           h4 {
               font-weight: 500;
           }

           h2 {
               font-size: 32px;
           }

           h3 {
               font-size: 26px;
           }

           h4 {
               font-size: 20px;
           }

           /*Reusable Components*/

           button.base {
               font-family: var(--font-base);
               font-size: inherit;
               padding: 20px 35px;
               border-radius: var(--radius_btn);
               min-width: 269px;
           }

           button.primary {
               color: var(--text_light);
               background-color: var(--color_black);
           }

           .card {
               border-radius: var(--radius_card);
               border: solid 1px var(--color_black);
               filter: drop-shadow(0px 5px var(--color_black));
               background-color: white;
           }

           .card_grey {
               background-color: var(--color_grey);
           }

           .card_green {
               background-color: var(--color_green);
           }

           .card_black {
               background-color: var(--color_black);
               color: var(--text_light);
           }

           /*Sitewide Elements*/

           .header {
               display: flex;
               justify-content: space-between;
               align-items: center;
               margin-bottom: 30px;
           }

           .logo {
               display: flex;
               align-items: center;
               gap: 8px;
               width: 20%;
           }

           .navbar {
               display: flex;
               align-items: center;
               gap: 50px;
               width: 70%;
               justify-content: flex-end;
           }

           .menu-icon {
               display: none;
           }

           .quote {
               border: var(--color_black) solid 1px;
               border-radius: var(--radius_btn);
               padding: 12px 30px;
           }

           .section_title {
               margin-top: 100px;
               margin-bottom: 60px;
               display: flex;
               gap: 25px;
           }

           span {
               background-color: #B9FF66;
               color: black;
               border-radius: 7px;
               padding: 0px 7px;
           }

           .footer {
               background-color: var(--color_black);
               color: var(--text_light);
               border-top-left-radius: var(--radius_card);
               border-top-right-radius: var(--radius_card);
               padding: 60px 55px 60px 50px;
               margin-top: 60px;
           }

           .footer_navbar {
               display: flex;
               justify-content: space-between;
               margin-bottom: 50px;
               align-items: center;
           }

           .footer_navbar_items {
               display: flex;
               gap: 40px;
               text-decoration: underline;
           }

           .s-medias {
               display: flex;
               gap: 15px;
           }

           .footer_contact {
               display: flex;
               justify-content: space-between;
               padding-bottom: 50px;
               border-bottom: solid 1px white;
           }

           .footer_contact_left {
               width: 30%;
           }

           .footer_contact_left h4 span {
               background-color: var(--color_green);
           }

           .footer_contact_right {
               width: 60%;
               background-color: #292A32;
               border-radius: var(--radius_btn);
               padding: 58px 40px;
               display: flex;
               justify-content: space-between;
           }

           button.email {
               width: 48%;
               background-color: transparent;
               color: var(--text_light);
               border: 1px solid white;
               text-align: left;
           }

           button.subscribe {
               width: 48%;
               background-color: var(--color_green);
           }

           .acknowledgement {
               display: flex;
               gap: 50px;
               margin-top: 50px;
           }

           .privacy-policy {
               text-decoration: underline;
           }