.coupon {
    background-color: #fbfaf8;
}

ul {
    list-style-position: inside;
}

.cart_prod {
    width: 50%;
    text-align: left;
}

table {
    color: var(--color-dark-blue);
}

td {
    text-align: center;
    padding: 20px 0px;
}

th {
    font-size: 13px;
    font-weight: var(--font-weight-regular);
}

.cart_qty {
    justify-content: center;
}

.cart_qty_btn {
    font-size: 14px;
    text-align: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid var(--color-black-20);
}

.cart_qty_number {
    border-left: none;
    border-right: none;
}

.cart_qty_minus {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.cart_qty_plus {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}