body {
    color: var(--color-dark-blue);
}

/*Cart Lists*/
.cart_lists_heading {
    font-size: 13px;
    font-weight: var(--font-weight-regular);
    text-align: center;
}

.cart_lists_body_cell {
    text-align: center;
    padding: 20px 0px;
}

.cart_prod {
    width: 50%;
    text-align: left;
}

.cart_price,
.cart_subtotal {
    width: 10%;
}

.cart_qty {
    width: 25%;
}

.cart_remove {
    width: 5%;
}

.cart_qty_btn {
    font-size: 14px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid var(--color-black-20);
    cursor: pointer;
}

.cart_qty_number {
    border-left: none;
    border-right: none;
    cursor: text;
}

.cart_qty_minus {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.cart_qty_plus {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.remove-icon {
    cursor: pointer;
}

/*Cart summary*/
.btn_update {
    text-align: right;
}

.cart_summary {
    margin-bottom: 40px;
    padding: 35px;
    color: var(--color-white);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)), var(--bg);
}

.cart_summary_column-r {
    text-align: right;
}

.cart_summary_row {
    padding: 20px 0px;
}

.cart_summary>div>input.btn_white {
    color: var(--color-button-white-font-default);
}

.cart_summary>div>input.btn_white:hover {
    color: var(--color-button-white-font-hover);
}

.shipping_area {
    font-size: var(--font-size-caption-page);
}

.coupon {
    background-color: #fbfaf8;
}

.coupon>div>input::placeholder {
    color: var(--color-black-40);
}

.usp_list {
    min-height: 220px;
}

.usp_icon {
    width: 60px;
    height: auto;
}

ul {
    list-style-position: inside;
}

.color-option {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    border: 5px solid var(--color-seashell);
    cursor: pointer;
}

.star-review {
    margin: 20px 0px 40px 0px;
}

.colors {
    margin: 40px 0px;
}


@media screen and (max-width:880px) {

    .cart_list_row,
    .cart_prod_item {
        flex-direction: column;
    }

    .cart_lists_heading {
        display: none;
    }

    .cart_prod,
    .cart_price,
    .cart_subtotal,
    .cart_qty {
        width: 100%;
    }

    .remove-icon {
        position: absolute;
        top: 0;
        right: 0;
    }
}