body {
    color: var(--color-dark-blue);
}

.cart_prod {
    width: 50%;
    text-align: left;
}

td {
    text-align: center;
    padding: 20px 0px;
}

.cart_lists th {
    font-size: 13px;
    font-weight: var(--font-weight-regular);
}

.cart_qty {
    justify-content: center;
}

.cart_qty_btn {
    font-size: 14px;
    text-align: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid var(--color-black-20);
    cursor: pointer;
}

.cart_qty_number {
    border-left: none;
    border-right: none;
    cursor: text;
}

.cart_qty_minus {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.cart_qty_plus {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.btn_update {
    text-align: right;
}

.cart_summary {
    margin-bottom: 40px;
}

.cart_summary th {
    font-weight: var(--font-weight-regular);
    text-align: left;
    width: 50%;
}

.cart_summary td {
    text-align: right;
}

.cart_summary>div.btn_white {
    color: var(--color-button-white-font-default);
}

.cart_summary>div.btn_white:hover {
    color: var(--color-button-white-font-hover);
}

.shipping_area {
    font-size: var(--font-size-caption-page);
}

.coupon {
    background-color: #fbfaf8;
}

.coupon>div>input::placeholder {
    color: var(--color-black-40);
}

.usp_list {
    min-height: 220px;
}

.usp_icon {
    width: 60px;
    height: auto;
}

ul {
    list-style-position: inside;
}

.color-option {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    border: 5px solid var(--color-seashell);
    cursor: pointer;
}

.star-review {
    margin: 20px 0px 40px 0px;
}

.colors {
    margin: 40px 0px;
}


@media screen and (max-width:880px) {
    .cart_lists td {
        display: block;
    }

    .cart_lists th {
        display: none;
    }

    .cart_prod_item {
        flex-direction: column;
    }

    .remove-item {
        position: absolute;
        top: 0;
        right: 0;
    }
}