.add-to-cart-details {
    padding: 40px;
    margin: 0 35px 20px 35px;
}

.more-product-details {
    background-color: var(--color-seashell);
    padding: 70px 70px 50px
}

.star-rating {
    background-color: var(--color-light-grey);
    padding: 0 10px;
}

.star-rating i {
    font-size: 10px;
}

.star-review {
    margin: 20px 0px 40px;
}

.product-details {
    margin: 0px 0px 20px;
}

.review,
.review-item,
.review-user-comment {
    border: var(--color-light-grey) 1px solid;
}

.review-item {
    padding: 40px;
}

.review-user-comment {
    padding: 15px;
    width: 90%;
}

.review {
    padding: 10px 20px;
    width: 120px;
}

.user-images {
    width: 60px;
}

@media screen and (max-width:1350px) {
    .star-rating {
        width: calc(50% - calc(var(--gap) / 2));
    }
}

@media screen and (max-width:640px) {
    .star-rating {
        width: 100%;
    }
}