.btn {
    padding: var(--padding-button-small);
    border-radius: var(--radius-button);
    background-color: var(--color-button-green-bg-default);
    font-size: var(--font-size-button-small);
    font-weight: var(--font-weight-button);
    color: var(--color-button-green-font);
    cursor: pointer;
    margin: 10px 0px;
}

.btn:hover {
    background-color: var(--color-button-green-bg-hover);
}

.btn a {
    color: var(--color-button-green-font);
}

.btn_white {
    background-color: var(--color-button--white-bg-default);
}

.btn_white a {
    color: var(--color-button-white-font-default);
}

.btn_white:hover {
    background-color: var(--color-button-white-bg-hover);
}

.btn_white:hover a {
    color: var(--color-button-white-font-hover);
}


.btn_white-black:hover {
    background-color: var(--color-button-white-bg-hover-accent);
}

.btn_white-black:hover a {
    color: var(--color-button-white-font-hover-accent);
}

.btn_no-radius {
    border-radius: 0px;
}

.btn_cta {
    padding: var(--padding-button-large);
    font-size: var(--font-size-button-large);
}