/*footer*/
.footer {
    background-color: var(--color-dark-green);
    color: var(--color-menu-font-light-default);
    padding: 120px 30px 60px;
}

.footer_title {
    font-family: var(--font-heading);
    font-size: var(--h5-font-size);
}

.footer_top-section {
    padding-bottom: 60px;
    border-bottom: var(--color-white) 2px solid;
}

.subscribe-form {
    background-color: var(--color-mid-green);
    padding: 30px 35px 15px 35px;
    border-radius: 6px;
}

.footer_menu-navbar {
    font-size: var(--font-size-menu);
}

.footer_menu-navbar:hover {
    color: var(--color-menu-font-light-hover);
}

.reserved {
    background-color: var(--color-black);
    color: var(--color-menu-font-light-default);
    padding: 13px 0px;
}