.header_topbar {
    min-height: 77px;
    padding: 20px 30px;
}

.search input {
    background-color: #1d2f1f0e;
    border-radius: 24px;
    padding: 0px 15px 0px 45px;
    width: 100%;
    min-height: 45px;

}

.search input::placeholder {
    color: var(--color-dark-green);
}

.fa-magnifying-glass {
    position: absolute;
    padding: 13px;
}

input[type=text]:focus,
.textarea:focus {
    outline: none;
}

.topbar_icon {
    justify-content: flex-end;
}

.topbar_icon,
.midbar_icon {
    color: var(--color-black);
}

.topbar_icon:hover,
.midbar_icon:hover {
    color: var(--color-light-green);
}

.header_midbar {
    padding: 0px 30px;
    justify-content: center;
    background-color: var(--color-white);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    font-size: var(--font-size-header-menu);
    font-weight: var(--font-weight-medium);
    min-height: 61px;
}

nav .menu-item>a {
    padding: 17px 20px;
    color: var(--color-menu-font-dark-default);
}

nav .menu-item:hover>a,
nav .menu-item:hover>i {
    color: var(--color-menu-font-dark-hover);
    transition: all 0.3s ease;
}

nav .has-submenu i {
    margin-left: var(--gap-xs);
}

nav .submenu {
    opacity: 0;
    position: absolute;
    pointer-events: none;
}

nav .submenu>a {
    display: block;
    background-color: var(--color-submenu-bg-default);
    min-width: 205px;
    padding: 13px 25px 13px 17px;
    font-size: var(--font-size-submenu);
    font-weight: var(--font-weight-regular);
    color: var(--color-submenu-bg-font-default);
    text-align: left;
}

nav .has-submenu:hover .submenu {
    opacity: 1;
    transition: all 0.3s ease;
    pointer-events: auto;
}

nav .submenu>a:hover {
    background-color: var(--color-submenu-bg-hover);
    color: var(--color-submenu-bg-font-hover);
    transition: all 0.3s ease;
}

.header_bottombar {
    min-height: 63px;
    color: var(--color-white);
    font-size: 15px;
    padding: 0px 30px;
}

.menu-toggle {
    font-size: 24px;
    padding: 12px 20px;
    cursor: pointer;
    z-index: 1001;
}

.midbar_icon,
.menu-toggle {
    display: none;
}


.icon-inline-20 {
    height: var(--icon-size-m);
    width: var(--icon-size-m);
    margin-right: var(--gap-xs);
}

.vertical-center {
    vertical-align: middle;
}

@media screen and (max-width:1100px) {
    .topbar_contact {
        text-align: left;
    }
}

@media screen and (max-width:880px) {

    .logo-l {
        width: 100%;
        text-align: center;
    }

    .topbar_icon,
    .bottombar_item {
        display: none;
    }

    .topbar_contact {
        text-align: center;
    }

    .midbar_icon,
    .menu-toggle {
        display: block;
    }

    nav.row-flex {
        width: 100%;
        flex-direction: column;
        gap: 0px;

        position: absolute;
        top: 67.2px;
        right: 0;
        opacity: 0;
        visibility: hidden;
    }

    nav.active {
        opacity: 1;
        visibility: visible;
        transition: all 0.5s ease;
        z-index: 1001;
    }

    nav .menu-item>a,
    nav .submenu>a {
        color: var(--color-mobile-menu-font-default);
        min-height: 65px;
        background-color: var(--color-mobile-menu-bg-default);
    }

    nav .menu-item {
        width: 100%;
    }

    nav .menu-item>a,
    .midbar_icons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--gap-m);
    }

    nav .has-submenu {
        position: relative;
    }

    nav .has-submenu i {
        padding: 25px 30px;
        position: absolute;
        top: 0;
        right: 0;
    }

    nav .submenu {
        display: none;
        opacity: 1;
        position: relative;
    }

    nav .submenu>a {
        padding-left: 40px;
    }

    nav .submenu.active {
        display: block;
    }

    nav .menu-item:hover>a,
    nav .menu-item:hover>i,
    nav .submenu:hover>a {
        background-color: var(--color-mobile-menu-bg-active);
        color: var(--color-mobile-menu-font-active);
    }

    .header_midbar {
        justify-content: space-between;
    }

    .header_bottombar {
        justify-content: center;
    }

    .header_bottombar>div {
        width: 100%;
    }


}