.header_topbar,
.header_midbar,
.header_bottombar,
nav,
.topbar_icons {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    align-items: center;
}

.header_topbar {
    min-height: 77px;
    padding: 20px 30px;
}

.topbar_icons {
    justify-content: flex-end;
}

.header_midbar {
    padding: 0px 30px;
    justify-content: center;
}

nav {
    font-size: var(--font-size-menu);
    font-weight: var(--font-weight-medium);
    min-height: 61px;
    gap: var(--gap-l);
}

nav .menu-item>a {
    padding: 17px 20px;
    color: var(--color-menu-font-dark-default);
}

nav .menu-item:hover>a,
nav .menu-item:hover i {
    color: var(--color-menu-font-dark-hover);
}

nav .has-submenu i {
    margin-left: var(--gap-xs);
}

nav .submenu {
    opacity: 0;
    position: absolute;
    transition: all 0.5s;
}

nav .submenu>a {
    display: block;
    background-color: var(--color-submenu-bg-default);
    min-width: 205px;
    padding: 13px 25px 13px 17px;
    font-size: var(--font-size-submenu);
    font-weight: var(--font-weight-regular);
    color: var(--color-submenu-bg-font-default);
    text-align: left;
}

nav .has-submenu:hover>.submenu {
    opacity: 1;
}

nav .submenu>a:hover {
    background-color: var(--color-submenu-bg-hover);
    color: var(--color-submenu-bg-font-hover);
}

.header_bottombar {
    min-height: 63px;
    color: var(--color-white);
    font-size: 15px;
    padding: 0px 30px;
}

.search input {
    background-color: #1d2f1f0e;
    border-radius: 24px;
    padding: 0px 15px 0px 45px;
    width: 100%;
    min-height: 45px;

}

.search input::placeholder {
    color: var(--color-dark-green);
}

.fa-magnifying-glass {
    position: absolute;
    padding: 13px;
}

input[type=text]:focus,
.textarea:focus {
    outline: none;
}

.topbar_icon,
.midbar_icon {
    color: var(--color-black);
}

.fa-regular {
    font-size: 18px;
}

.menu-icon {
    font-size: 24px;
    padding: 12px 20px;
    cursor: pointer;
}

.midbar_icons,
.menu-icon {
    display: none;
}

.topbar_icon:hover,
.midbar_icon:hover {
    color: var(--color-light-green);
}

.icon img {
    object-fit: contain;
}

.icon-inline-20 {
    height: var(--icon-size-m);
    width: var(--icon-size-m);
    margin-right: var(--gap-xs);
}



.vertical-center {
    vertical-align: middle;
}

@media screen and (max-width:1100px) {
    .topbar_contact {
        text-align: left;
    }
}

@media screen and (max-width:880px) {

    .logo-l {
        width: 100%;
        text-align: center;
    }

    .search,
    .search input {
        width: 100%;
    }

    nav,
    .topbar_icons,
    .bottombar_item {
        display: none;
    }

    .topbar_contact {
        text-align: center;
    }

    .midbar_icons,
    .menu-icon {
        display: block;
    }

    .midbar_icons {
        display: flex;
        align-items: center;
        gap: var(--gap-m);
    }

    .header_midbar {
        justify-content: space-between;
    }

    .header_bottombar {
        justify-content: center;
    }

    .header_bottombar>div {
        width: 100%;
    }

    nav .menu-item>a {
        color: var();
        background-color: var();
    }
}