.circle {
    border-radius: 50%;
}

.ratio-2-3 {
    aspect-ratio: 2/3;
}

.ratio-16-9 {
    aspect-ratio: 16/9;
}

.ratio-3-4 {
    aspect-ratio: 3/4;
}

.ratio-4-3 {
    aspect-ratio: 4/3;
}

.radius-27 {
    border-radius: var(--radius-image);
}

.bg-img {
    background-image: var(--bg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img-gradient {
    background-image: var(--color-gradient-image-overlay-black), var(--bg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}