.circle {
    border-radius: 50%;
}

/*Home - category*/
.ratio-2-3 {
    aspect-ratio: 2/3;
}

/*Shop - category*/
.ratio-16-9 {
    aspect-ratio: 16/9;
}

/*Blog - related post*/
.ratio-4-3 {
    aspect-ratio: 4/3;
}

.ratio-2-3,
.ratio-16-9,
.ratio-4-3 {
    padding: var(--padding-card);
}

.radius-27 {
    border-radius: var(--radius-image);
}

.bg-img {
    background-image: var(--bg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img-gradient {
    background-image: var(--color-gradient-image-overlay-black), var(--bg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width:880px) {

    .related-post {
        aspect-ratio: 3/4;
    }

}

@media screen and (max-width:640px) {

    .category {
        aspect-ratio: 16/9;
    }

}