.sale-badge {
    width: var(--size-badge-circle);
    height: var(--size-badge-circle);
    border-radius: var(--radius-badge-circle);
    font-size: var(--font-size-badge-circle);
    display: flex;
    align-items: center;
    justify-content: center;

    top: 10px;
    left: 10px;
}

.discount-label {
    padding: var(--padding-discount-label);
    border-radius: var(--radius-discount-label);
    font-size: var(--font-size-discount-label);
    font-weight: var(--font-weight-discount-label);
    letter-spacing: var(--letter-spacing-discount-label);
}

.sale-badge,
.discount-label {
    color: var(--color-label-font);
    background-color: var(--color-label-bg);
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}