section {
    padding: var(--padding-section);
}

.row-flex {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}

.direction-col {
    display: flex;
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flex-end {
    display: flex;
    align-items: flex-end;
}

.col-1 {
    width: 100%;
}

.col-2 {
    width: calc(50% - calc(var(--gap) / 2));
}

.col-3 {
    width: calc(33.33% - calc(2 * var(--gap) / 3));
}

.col-4 {
    width: calc(25% - calc(3 * var(--gap) / 4));
}

.col-5 {
    width: calc(20% - calc(4 * var(--gap) / 5));
}

.gap-0 {
    --gap: 0px;
}

.gap-4 {
    --gap: var(--gap-xs);
}

.gap-12 {
    --gap: var(--gap-s);
}

.gap-20 {
    --gap: var(--gap-m);
}

.gap-40 {
    --gap: var(--gap-l);
}

.max-width-1440 {
    margin: 0 auto;
    max-width: 1440px;
}

.max-width-850 {
    margin: 0 auto;
    max-width: 850px;
}

.banner {
    padding: 145px 30px;
}

.on-sale-item {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 56px 30px;
    align-items: center;
}

.width-30 {
    width: 30%;
}

.divider {
    border-bottom: 1px solid var(--color-light-grey);
}


@media screen and (max-width:880px) {

    /*Tablet*/
    .col-1-t {
        width: 100%;
    }

    .col-2-t {
        width: calc(50% - calc(var(--gap) / 2));
    }

    .col-3-t {
        width: calc(33.33% - calc(2 * var(--gap) / 3));
    }

    .col-4-t {
        width: calc(25% - calc(3 * var(--gap) / 4));
    }


}

@media screen and (max-width:640px) {

    /*Mobile*/
    .col-1-m {
        width: 100%;
    }

    .col-2-m {
        width: calc(50% - calc(var(--gap) / 2));
    }

    .shop-category {
        gap: var(--gap-m);
    }
}

/*List of Class
.row-flex
.direction-col
.align-items-center
.space-between
.content-center
.col-1
.col-2
.col-3
.col-4
.col-5
.gap-0
.gap-4
.gap-12
.gap-20
.gap-40
.max-width-1440
.max-width-850
.banner
.on-sale-item
.width-30
.divider

.col-1-t
.col-2-t
.col-3-t
.col-4-t

.col-1-m
.col-2-m
*/