@import url('https://fonts.googleapis.com/css2?family=Trocchi&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

/* === Root Variables === */

:root {

    /* === Colors === */

    --color-dark-green: #1e3120;
    --color-mid-green: #273f29;
    --color-light-green: #3d6f42;
    --color-light-grey: #e2e2e2;
    --color-mid-grey: #98a098;
    --color-seashell: #f8f5f2;
    --color-dark-blue: #212934;
    --color-mid-blue: #0073aa;
    --color-white: #ffffff;
    --color-black: #000000;

    /*Alpha value*/
    --color-white-71: #ffffffb5;
    --color-black-20: rgba(0, 0, 0, 0.2);
    --color-black-30: rgba(0, 0, 0, 0.3);
    --color-black-40: rgba(0, 0, 0, 0.4);
    --color-black-55: rgba(0, 0, 0, 0.55);
    --color-light-green-50: rgba(61, 111, 66, 0.5);


    /* === Global Font === */

    --font-body-base: "Work Sans", sans-serif;
    --font-body-default-size: 17px;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 600;
    --font-body-default-line-height: 1.8;
    --font-heading-serif: "Trocchi", serif;
    --font-heading-sans-serif: "Work Sans", sans-serif;
    --h1-font-size: 52px;
    --h2-font-size: 34px;
    --h3-font-size: 22px;
    --h4-font-size: 20px;
    --h5-font-size: 24px;
    --h6-font-size: 18px;

    --font-line-height-110: 1.1;
    --font-line-height-135: 1.35;
    --font-line-height-140: 1.4;
    --font-line-height-150: 1.5;
    --font-line-height-170: 1.7;

    --letter-spacing-big: 2px;
    --letter-spacing-medium: 0.015em;

    /*Class Typo*/
    --font-size-banner-subheading: 14px;
    --font-size-caption-page: 13px;
    --font-size-single-product-title: 28px;
    --font-size-single-product-subtitle: 20px;


    /* === Radius === */

    --radius-s: 5px;
    --radius-m: 27px;
    --radius-l: 30px;


    /* === Button === */

    --padding-button-small: 13px 29px;
    --font-weight-button: var(--font-weight-medium);
    --font-size-button-small: 14px;
    --padding-button-large: 17px 40px;
    --font-size-button-large: 18px;
    --radius-button: var(--radius-l);

    /*Button-Primary*/
    --color-button-green-bg-default: var(--color-light-green);
    --color-button-green-bg-hover: var(--color-dark-green);
    --color-button-green-font: var(--color-white);

    /*Button-Secondary*/
    --color-button--white-bg-default: var(--color-white);
    --color-button-white-bg-hover: var(--color-light-green);
    --color-button-white-font-default: var(--color-black);
    --color-button-white-font-hover: var(--color-white);

    /*Button-White-Black-No radius*/
    --color-button-white-black-font-hover: var(--color-white);
    --color-button-white-black-bg-hover: var(--color-black);


    /* === Link - Header & Footer Menu === */

    --font-size-menu: 15px;

    /*Menu-Dark-Navbar*/
    --color-menu-font-dark-default: var(--color-black-55);
    --color-menu-font-dark-hover: var(--color-black);

    /*Menu-Light-Footer*/
    --color-menu-font-light-default: var(--color-white);
    --color-menu-font-light-hover: var(--color-white-71);
    --color-menu-font-accent-hover: var(--color-light-green);

    /*Menu-with Background color*/

    --color-menu-with-bg-default: var(--color-white);
    --color-menu-with-bg-font-default: var(--color-black);
    --color-menu-with-bg-hover: var(--color-light-green);
    --color-menu-with-bg-font-hover: var(--color-white);

    /*Submenu*/
    --font-size-submenu: 14px;
    --color-submenu-bg-default: var(--color-white);
    --color-submenu-bg-font-default: var(--color-black);
    --color-submenu-bg-hover: var(--color-light-green);
    --color-submenu-bg-font-hover: var(--color-white);

    /*Product Title*/
    --font-size-product-title: 22px;
    --color-font-product-title-default: var(--color-black);
    --color-font-product-title-hover: var(--color-light-green);


    /* == Form Elements === */

    --padding-text-field: 0px 16px;
    --radius-text-field: var(--radius-m);
    --font-size-text-field: 16px;

    /*Text-field-with-border*/
    --color-txtfield-with-border-bg: var(--color-white);
    --color-text-field-with-border-borderline-default: var(--color-black-30) 1px solid;
    --color-txtfield-with-border-borderline-hover: var(--color-light-green-50) 1px solid;
    --color-txtfield-with-border-borderline-pressed: var(--color-light-green) 1px solid;
    --color-txtfield-with-border-font-default: var(--color-black-30) 1px solid;
    --color-txtfield-with-border-font-pressed: var(--color-dark-blue);

    /*Text-field-with-border - Options*/
    --color-txtfield-with-border-options-bg: var(--color-white);
    --color-txtfield-with-border-options-font: var(--color-black);
    --color-txtfield-with-border-options-bg-hover: var(--color-mid-blue);
    --color-txtfield-with-border-options-font-hover: var(--color-white);

    /*Text-field-no-border*/
    --color-txtfield-no-border-bg: var(--color-seashell);


    /* == Card === */

    --padding-card: 20px;
    --card-box-shadow-hover: 0px 15px 30px var(--color-black-20);
    --card-filter-hover: saturate(105%) brightness(120%);

    /*Card-with-border*/
    --color-card-with-border-bg-default: var(--color-white);
    --color-card-with-border-borderline-default: var(--color-light-grey) 1px solid;
    --color-card-with-border-bg-hover: var(--color-seashell);
    --color-card-with-border-borderline-hover: var(--color-mid-grey) 1px solid;
    --radius-card-with-border: var(--radius-s);

    /*Card-dark-green*/
    --color-card-dark-green-bg-default: var(--color-dark-green);

    /*Card-mid-green*/
    --color-card-mid-green-bg-default: var(--color-mid-green);


    /* === Imagery === */

    --radius-image: var(--radius-m);
    --color-gradient-image-overlay-black: linear-gradient(to bottom, var(--color-black-40), var(--color-black-20));


    /* === Icon === */

    --icon-size-xs: 10px;
    --icon-size-s: 14px;
    --icon-size-m: 20px;
    --icon-size-l: 96px;

    /*Icon-Black*/
    --color-icon-black-default: var(--color-black);
    --color-icon-black-hover: var(--color-light-green);

    /*Icon-White*/
    --color-icon-white-default: var(--color-white);
    --color-icon-white-hover: var(--color-light-green);


    /* === Label/Badge === */
    --color-label-bg: var(--color-light-green);
    --color-label-font: var(--color-white);

    /*Sale Circle Badge*/
    --size-badge-circle: 50px;
    --radius-badge-circle: 50%;
    --font-size-badge-circle: 17px;

    /*Discount Label*/
    --padding-discount-label: 2px 9px;
    --radius-discount-label: var(--radius-s);
    --font-size-discount-label: 14px;
    --font-weight-discount-label: var(--font-weight-bold);
    --letter-spacing-discount-label: 2px;


    /* === Layout === */

    --gap-xs: 4px;
    --gap-s: 12px;
    --gap-m: 20px;
    --gap-l: 40px;
    --padding-section: 90px 30px;

}